In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from googleapiclient.discovery import build
from googleapiclient.errors import HttpError
from datetime import datetime
import os
from configparser import ConfigParser
import re
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from langdetect import detect
import langdetect
from textblob import TextBlob
import calendar
import matplotlib.dates as mdates
from matplotlib.dates import DateFormatter
from prettytable import PrettyTable
from tabulate import tabulate
import numpy as np
from collections import defaultdict
import warnings

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [8]:
ds_jobs = pd.read_csv('jobs.csv')
ds_jobs

,Job Title,Company Name,Salary Estimate,Rating,Job Description,Skills,Location,Founded,Industry,Sector,Revenue,Size,Ownership Type
0,Junior Data Analyst,BENTLEY DRIVERS CLUB SOUTH AUSTRALIA INC.,$54.00,NaN,"As a Junior Data Analyst, you will assist in g...","Skills: Power BI, Microsoft Excel, Data analys...",Kensington and Norwood,NaN,NaN,NaN,NaN,NaN,NaN
1,Data Science Internship 2025,Visa,NaN,['3.9'],Company Description\n\nVisa is a world leader ...,"Skills: Power BI, Microsoft Excel, Data analys...",Sydney,1958,Information Technology Support Services,Information Technology,$10+ billion (USD),10000+ Employees,Company - Public
2,Data Analyst,Retro Arcade Solutions,NaN,NaN,Retro Arcade Solutions is a trailblazer in the...,"Skills: Power BI, Microsoft Excel, Data analys...",Adelaide,NaN,NaN,NaN,NaN,NaN,NaN
3,Junior Data Analyst,K2-Tech Solutions,$54.00,NaN,"As a Junior Data Analyst at K2-Tech Solutions,...","Skills: Power BI, Microsoft Excel, Data analys...",Australia,NaN,NaN,NaN,NaN,NaN,NaN
4,Data Science Manager,Findex,NaN,['3.1'],Drive Data-Driven Success as a Manager at Find...,"Skills: Power BI, Microsoft Excel, Data analys...",Australia,--,Investment & Asset Management,Finance,Unknown / Non-Applicable,1001 to 5000 Employees,Company - Private
...,...,...,...,...,...,...,...,...,...,...,...,...,...
657,VP of Product,Pet Circle,$136K,['3.1'],"Dogs, cats, budgies and everything in between ...","Skills: Power BI, Microsoft Excel, Data analys...",Sydney,2011,Pet & Pet Supplies Stores,Retail and wholesale,$100 to $500 million (USD),501 to 1000 Employees,Company - Private
658,"Product Manager, Payments Cards Modernisation ...",Commonwealth Bank,$136K,['4.0'],"Product Manager, Payments Cards Modernisation ...","Skills: Power BI, Microsoft Excel, Data analys...",Sydney,1911,Banking & Lending,Finance,$5 to $10 billion (USD),10000+ Employees,Company - Public
659,Marketing Communications Coordinator,Heritage and People's Choice,NaN,NaN,NaN,"Skills: Power BI, Microsoft Excel, Data analys...",Brisbane,NaN,NaN,NaN,NaN,NaN,NaN
660,Commercial Manager,Auto & General Insurance,$189K,['3.0'],The role\nJoin the Supply Relationship Leaders...,"Skills: Power BI, Microsoft Excel, Data analys...",North Lakes,1999,Insurance Carriers,Insurance,$100 to $500 million (USD),1001 to 5000 Employees,Company - Private
661,Senior AppOps Engineer,ISG plc,$84K,['4.2'],About ISG\nISG is a dynamic global constructio...,"Skills: Power BI, Microsoft Excel, Data analys...",Ipswich,1989,Construction,"Construction, repair and maintenance",Unknown / Non-Applicable,1001 to 5000 Employees,Company - Private